.env
.env.*
!.env.example

**/.terraform/
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan
**/tfplan

app/node_modules/
app/build/
session-manager-plugin.pkg

.DS_Store
Thumbs.db

docker-compose.override.yml